<div class="section-1">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3 text-center">Get you Hair Styled Today</h1>
      <p class="lead text-center">Watch how we get guests super ready for everything on their bucket lists.</p>
    </div>
  </div>
</div>
<div class="section-2">
  <div class="card">
    <div class="content">
      <div class="heading text-center">
        <h4>Check In</h4>
        <small>Find us in our locations</small>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="location-content">
              <div class="location-content-left text-center">
                <img src="../../assets/images/pin.png" />
                <small>15min Wait</small>
                <span>Call Us</span>
              </div>
              <div class="location-content-right">
                <div class="inner-content">
                  <h5>
                    <a>City of NoWhere</a>
                  </h5>
                  <i>9am - 6pm (Mon-Sun)</i>
                </div>
                <div class="appointment-button">
                  <a class="button">Book Appointment</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="location-content">
              <div class="location-content-left text-center">
                <img src="../../assets/images/pin.png" />
                <small>15min Wait</small>
                <span>Call Us</span>
              </div>
              <div class="location-content-right">
                <div class="inner-content">
                  <h5>
                    <a>City of NoWhere</a>
                  </h5>
                  <i>9am - 6pm (Mon-Sun)</i>
                </div>
                <div class="appointment-button">
                  <a class="button">Book Appointment</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="location-content">
              <div class="location-content-left text-center">
                <img src="../../assets/images/pin.png" />
                <small>15min Wait</small>
                <span>Call Us</span>
              </div>
              <div class="location-content-right">
                <div class="inner-content">
                  <h5>
                    <a>City of NoWhere</a>
                  </h5>
                  <i>9am - 6pm (Mon-Sun)</i>
                </div>
                <div class="appointment-button">
                  <a class="button">Book Appointment</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>